@font-face {
  font-family: "Noteworthy";
  src: url("./fonts/Noteworthy-Lt.woff2") format("woff2"),
    url("./fonts/Noteworthy-Lt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noteworthy";
  src: url("./fonts/Noteworthy-Bold.woff2") format("woff2"),
    url("./fonts/Noteworthy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MyriadPro";
  src: url("./fonts/MyriadPro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@media print {
  .print-box,
  .print-box * {
    font-family: "Noteworthy";
  }
  .print-box .btn-box {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  overflow-x: hidden;
}
body {
  font-family: "MyriadPro";
  font-weight: 400;
  line-height: 1.3;
  font-size: 2rem;
}
section {
  width: 100%;
  overflow-x: hidden;
}
b,
strong {
  font-weight: 400;
}
a,
span {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
}
ul {
  list-style: none;
}
.container {
  width: 87%;
  max-width: 1630px;
  padding: 0 30px;
  margin: 0 auto;
}
.flex-box,
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-col {
  flex-direction: column;
}
.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-italic {
  font-style: italic;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.relative {
  position: relative;
}
.text-white,
.text-white * {
  color: #fff;
}

.text-black,
.text-black * {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
}
.hidden {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.block {
  display: block;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}
h1 {
  font-family: "Noteworthy";
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.2;
}
h2 {
  font-family: "Noteworthy";
  font-weight: 700;
  font-size: 5.2rem;
}
h3 {
  font-size: 5rem;
  font-family: "MyriadPro";
}
h4 {
  font-size: 1.53rem;
  font-family: "MyriadPro";
}
h1 span,
p span {
  color: #f15a29;
  font-weight: 700;
}
.btn {
  outline: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 1.9rem 4rem;
  border-radius: 4rem;
  font-size: 2.2rem;
  box-shadow: none;
  border: none;
}
.btn-black {
  background-color: #000;
  color: #fff;
}

.circle-center-text {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
.btn.active-label-btn {
  /* background-color: #11b55d;
  border-color: #11b55d; */
  opacity: 1;
}
.desktop-none {
  display: none;
}
.print-label-btn {
  background-color: #ff9027;
  color: #fff;
}
/* ------------------------- */
/* HOMEPAGE STYLES */
/* --------------------------- */
.hp-intro-section {
  padding: 12rem 0;
}
.hp-intro-left {
  flex: 1;
  padding-right: 9rem;
}
.hp-intro-left h1 {
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 3rem;
}
.hp-intro-left p {
  font-size: 2.6rem;
  font-weight: normal;
  font-family: "Noteworthy";
}
.hp-intro-right {
  width: max-content;
  min-width: 48rem;
}

.hp-label-box {
  background-color: #fff1e2;
  border: 7px solid #f15a29;
  border-radius: 4rem;
  padding: 2rem 2rem;
  width: max-content;
  min-width: 52rem;
  min-height: 26rem;
}
.hp-label-box h3 {
  margin-bottom: 2rem;
  font-weight: 600;
  color: #f15a29;
  font-family: "Noteworthy";
  font-size: 6.5rem;
}
.print-label-box {
  padding-top: 2rem;
}
.hp-intro-right .btn-box > div {
  width: 50%;
  text-align: center;
  margin-top: 2rem;
  padding: 0 2rem;
}
.hp-intro-right .btn-box .btn {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.btn .btn-icon {
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}
.btn .btn-icon img {
  width: 100%;
  max-width: 2.3rem;
  max-height: 2.3rem;
  object-fit: contain;
}
.hp-intro-right .btn-box p {
  font-weight: 600;
  margin-top: 1rem;
  font-size: 2rem;
  font-family: "MyriadPro";
}
.print-label-box .btn {
  width: 85%;
}
.print-reset-btn {
  background-color: #000;
  color: #fff;
}
.print-box {
  padding: 2rem;
}
.hp-intro-steps {
  margin-top: 5rem;

}
.btn-box,
.hp-intro-steps{
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}
.hp-intro-steps::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #d9d9d9;
}
.hp-intro-steps .step {
  width: 3.8rem;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  font-size: 2.4rem;
  font-weight: 600;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  padding: 0.7rem;
}
.hp-intro-steps .step.active {
  background-color: #63cdf6;
}
.hp-intro-steps .step img {
  width: 100%;
  height: auto;
}
.label-text span {
  font-size: 12rem;
  font-family: "MyriadPro";
  font-weight: 600;
  margin: 0 5px;
  line-height: 0.8;
  text-transform: lowercase;
}
.question-section {
  padding-bottom: 10rem;
}
.question-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1720px;
}

/* width */
.question-wrapper::-webkit-scrollbar {
  height: 7px;
  cursor: pointer;
}

/* Track */
.question-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff1e2;
  border-radius: 10px;
}

/* Handle */
.question-wrapper::-webkit-scrollbar-thumb {
  background: #fbe1c5;
  border-radius: 10px;
}

/* Handle on hover */
.question-wrapper::-webkit-scrollbar-thumb:hover {
  background: #fcc993;
}
.question-wrapper .slick-track {
  display: flex !important;
}
.question-wrapper .slick-slide {
  height: inherit;
}
.question-wrapper .slick-slide > div {
  height: 100%;
}
.single-question {
  background-color: #fff1e2;
  padding: 3rem 2rem;
  border-radius: 3rem;
  width: 16.5%;
  height: inherit;
}
.single-question:nth-of-type(5n) {
  width: 28%;
}
.question-number {
  background-color: #63cdf6;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  width: 3.8rem;
  height: 3.8rem;
}
.single-question .question {
  margin-top: 3rem;
  min-height: 4rem;
}
.answer-wrapper {
  margin-top: 3rem;
}
/* .single-question.disabled{
  opacity: 0.6;
  cursor: not-allowed;
} */
.lock-question {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 2554, 255, 0.5);
  left: 0;
  top: 0;
  z-index: 99;
}
.lock-question img {
  display: inline-block;
  width: 80px;
  opacity: 0.7;
}
.answer-item {
  width: 40%;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
}
.answer-item.active {
  color: #ff9027;
  /* pointer-events: none; */
}
.answer-item:nth-of-type(even) {
  text-align: left;
  margin-left: auto;
}
.answer-wrapper .range-box {
  width: 6rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.answer-wrapper .range-box .range-line {
  width: 10px;
  margin: 0 auto;
  height: 100%;
  margin-top: 0.7rem;
}
.answer-wrapper .range-box .range-line img {
  height: 100%;
  width: auto;
}
.range-input-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%; /* This is the height of the slider before rotation */
  transform: rotate(90deg); /* Rotate the slider */
  transform-origin: 50% 50%; /* Center the rotation */
  background-color: transparent;
}

.vertical-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.vertical-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.8rem;
  height: 4.2rem;
  /* background: linear-gradient(to top, white 50%, #FF9027 50%); */
  background: linear-gradient(to top, white 50%, #ff9027 50%);
  cursor: pointer;
  border-radius: 4rem;
  border: 1px solid #000;
  margin-top: -1.6rem; /* Centers the thumb on the track */
}
.vertical-slider.active::-webkit-slider-thumb {
  background: var(--thumb-color);
}
.vertical-slider:disabled::-webkit-slider-thumb {
  background: linear-gradient(to top, #e3e3e3 50%, #f5c08f 50%);
  cursor: not-allowed;
}

.vertical-slider::-moz-range-track {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.vertical-slider::-moz-range-thumb {
  width: 3.5rem;
  height: 8.6rem;
  background: linear-gradient(to top, white 50%, #ff9027 50%);
  cursor: pointer;
  border-radius: 4rem;
  border: 1px solid #000;
  margin-top: -4rem; /* Centers the thumb on the track */
}
.vertical-slider.active::-moz-range-thumb {
  background: var(--thumb-color);
}
.vertical-slider:disabled::-moz-range-thumb {
  background: linear-gradient(to top, #e3e3e3 50%, #f5c08f 50%);
  cursor: not-allowed;
}

.vertical-slider::-ms-track {
  width: 100%;
  height: 8px;
  color: transparent;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.vertical-slider::-ms-fill-lower {
  border-radius: 5px;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.vertical-slider::-ms-fill-upper {
  border-radius: 5px;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.vertical-slider::-ms-thumb {
  width: 3.5rem;
  height: 8.6rem;
  background: linear-gradient(to top, white 50%, #ff9027 50%);
  cursor: pointer;
  border-radius: 4rem;
  border: 1px solid #000;
  margin-top: -4rem; /* Centers the thumb on the track */
}
.vertical-slider.active::-ms-thumb {
  background: var(--thumb-color);
}
.vertical-slider:disabled::-ms-thumb {
  background: linear-gradient(to top, #e3e3e3 50%, #f5c08f 50%);
  cursor: not-allowed;
}

.vertical-slider:focus::-webkit-slider-runnable-track {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.vertical-slider:focus::-moz-range-track {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.vertical-slider:focus::-ms-fill-lower {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.vertical-slider:focus::-ms-fill-upper {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
input[type="range"]:focus-visible {
  outline: none !important;
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 49%;
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 48%;
  }
}
@media screen and (max-width: 1366px) {
  html {
    font-size: 46%;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 44%;
  }
}
@media screen and (max-width: 1200px) {
  .question-wrapper {
    justify-content: flex-start;
  }
  .single-question {
    width: 22%;
    margin: 0 1.5% 4rem 1.5%;
  }
  .single-question:nth-of-type(5n) {
    width: max-content;
    min-width: 400px;
  }
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .hp-intro-wrapper {
    justify-content: center;
    text-align: center;
  }
  .hp-intro-left {
    width: 100%;
    margin-bottom: 7rem;
    padding-right: 0;
    flex: unset;
  }
  .hp-label-box{
    min-width:unset;
  }
  .question-wrapper {
    width: 100%;
    padding: 0 15px;
  }
  .hp-intro-left h1 br {
    display: none;
  }
  .hp-intro-left p {
    max-width: 100%;
  }
  .single-question {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .hide-768 {
    display: none;
  }
  .show-768 {
    display: block;
  }
  .hp-intro-wrapper {
    justify-content: center;
    text-align: center;
  }
  /* .hp-intro-right {
    margin: 0 auto;
  }
  .label-box-mobile{
    padding: 5rem 0;
    background-color: #fff;
    z-index: 1;
  }
  .hp-intro-section{
    padding-bottom: 0;
  } */
  .hp-intro-right {
    position: static;
  }
  .hp-intro-right.scrolled {
    position: fixed !important;
    background-color: #fff;
    border-bottom: 1px solid #dddd;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    animation: smoothScroll 1s forwards;
    padding: 3rem 15px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.5s ease;
  }
  .empty-scrolled {
    min-height: 400px;
  }
  @keyframes smoothScroll {
    0% {
      transform: translateY(-7rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  }
  .hp-label-box {
    margin: 3rem auto 0 auto;
  }
  .question-wrapper {
    justify-content: space-between;
  }
  .single-question {
    width: 48%;
    padding: 5rem 3rem;
    margin: 2rem 0;
  }
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 5rem;
  }
  h4 {
    font-size: 3rem;
  }
  .show-640 {
    display: block;
  }
  .hide-640 {
    display: none;
  }

  .hp-intro-left p {
    font-size: 2.8rem;
  }

  .hp-intro-steps {
    margin-top: 3rem;
  }
  .hp-intro-section {
    padding-bottom: 6rem;
  }
  .single-question {
    padding: 5rem 1rem;
    margin: 0 0 4rem 0;
  }
  .question-number {
    width: 4.8rem;
    height: 4.8rem;
  }
  .answer-item {
    width: 43%;
    font-size: 1.9rem;
  }
  .range-input-box {
    top: 0;
  }
  .vertical-slider::-webkit-slider-thumb {
    width: 3rem;
    height: 6rem;
    margin-top: -2.5rem;
  }
  .vertical-slider::-moz-range-thumb {
    width: 3rem;
    height: 6rem;
    margin-top: -2.5rem;
  }
  .vertical-slider::-ms-thumb {
    width: 3rem;
    height: 6rem;
    margin-top: -2.5rem;
  }
  .single-question,
  .single-question:nth-of-type(5n) {
    width: 100%;
    min-width: unset;
  }
  .hp-label-box .btn-box .btn {
    width: 18rem;
    height: 5rem;
    font-size: 1.7rem;
  }
  .btn .btn-icon img {
    max-width: 2.2rem;
    max-height: 2.2rem;
  }
  .hp-label-box .btn-box p {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 1.6vw;
  }
  .hp-label-box,
  .hp-intro-right {
    width: 100%;
    min-width: none;
  }
}
